.listproduct {
  padding-left: 70px;
}

#products {
  transition: .3s ease-in-out;
}

.titleposition {
  padding-left: 70px;
  padding-top: 70px;
  transition: .3s ease-in-out;
}

.sidebarposition {
  position: fixed;
  width: 100%;
  padding-left: 303px;
  z-index: 100;
  transition: 0.3s;
}

.homeshape1 {
  border-bottom: 500px solid rgb(0, 46, 105);
  border-left: 182px solid transparent;
  transform: scale(1, -1);
  height: 0;
  width: 60%;
  float: right;
  position: relative;
  top: 40px;
}

.innershape1 {
  width: 100%;
  position: absolute;
}

.homeshape2 {
  width: 3px;
  height: 590px;
  transform: skew(20deg);
  background: rgb(0, 46, 105);
  left: 40px;
  position: absolute;
}

.innershape2 {
  width: 10px;
  position: absolute;
  right: 60%;
}

.picture1pos {
  position: absolute;
  width: 100%;
}

.imageintro {
  position: absolute;
  right: 44%;
  top: 62px;
}

.hometitlepos {
  position: absolute;
  left: 40%;
  top: 386px;
  padding-left: 206px;
  color: white;
  font-size: 59px;
  font-family:initial;
}

.formreg {
  padding-top: 700px;
}

.carcatelog{
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-width: 304px;
  border-radius: 10px;
  height: 390px;
  display: inline;
  margin: 10px;
  transition: 0.2s;
}

.carcatelog:hover{
  background-color: rgb(230, 230, 230);
  box-shadow: 0 4px 8px 0 rgba(0, 162, 255, 0.29), 0 10px 80px 0 rgba(0, 162, 255, 0.29);
  transition: 0.2s;
  cursor: pointer;
  min-width: 324px;
}

.carcontent{
  padding: 15px;
}

.carimg {
  object-fit: cover;
  width: 100%;
  height: 180px;
  border-radius: 10px;
}

.carimgmodal {
  object-fit: cover;
  width: 100%;
  height: 210px;
  border-radius: 10px;
}

.carcentercatalog {
  width:100%;
  display: flex;
  overflow: auto;
  height: 450px;
}

.pricedisplay{
  background-color: #E8D0C6;
  display: inline;
  padding: 10px;
  border-radius: 5px;
  width: 150px;
  text-align: center;
}

.pricedisplayouter{
  display: flex;
  justify-content: center;
}

.cardetail{
  height: 100px;
  overflow-x: auto;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
   
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(136, 136, 136); 
  border-radius: 5px;
  width: 5px;
}

.titlecenter{
  text-align: center;
  color: white;
}

.uppershape{
  width: 100%;
  background-color: #163362;
  height: 500px;
  position: absolute;
  z-index: -999999;
}