.listproduct {
  padding-left: 70px;
}

#products {
  transition: .3s ease-in-out;
}

.titleposition {
  padding-left: 70px;
  padding-top: 70px;
  transition: .3s ease-in-out;
}

.sidebarposition {
  position: fixed;
  width: 100%;
  padding-left: 303px;
  z-index: 100;
  transition: 0.3s;
}

.homeshape1 {
  border-bottom: 500px solid rgb(0, 46, 105);
  border-left: 182px solid transparent;
  transform: scale(1, -1);
  height: 0;
  width: 60%;
  float: right;
  position: relative;
  top: 40px;
}

.innershape1 {
  width: 100%;
  position: absolute;
}

.homeshape2 {
  width: 3px;
  height: 590px;
  transform: skew(20deg);
  background: rgb(0, 46, 105);
  left: 40px;
  position: absolute;
}

.innershape2 {
  width: 10px;
  position: absolute;
  right: 60%;
}

.picture1pos {
  position: absolute;
  width: 100%;
}

.imageintro {
  position: absolute;
  right: 44%;
  top: 62px;
}

.hometitlepos {
  position: absolute;
  left: 40%;
  top: 386px;
  padding-left: 206px;
  color: white;
  font-size: 59px;
  font-family:initial;
}

.formreg {
  padding-top: 700px;
}