.listproduct {
  padding-left: 70px;
}

#products{
  transition: .3s ease-in-out;
}

.titleposition{
  padding-left: 70px;
  padding-top: 70px;
  transition: .3s ease-in-out;
}

.sidebarposition {
  position: fixed;
  width: 100%;
  padding-left: 303px;
  z-index: 100;
  transition: 0.3s;
}

.homeshape1 {
  border-bottom: 500px solid #555;
	border-left: 200px solid transparent;
	transform: scale(1, -1);
	height: 0;
	width: 60%;
  float: right;
}

.innershape1 {
  width: 100%;
  position: absolute;
}